{{ define "main" }}
<div class="container">
  {{ partial "author-reputation-hall.html" . }}

  <article class="about-page">
    <h1>{{ .Title }}</h1>
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "sitemap-wireframe.html" . }}
</div>
{{ $repJs := resources.Get "js/reputation-hall.js" | minify | fingerprint }}
<script src="{{ $repJs.RelPermalink }}" integrity="{{ $repJs.Data.Integrity }}" defer></script>
{{ $sitemapJs := resources.Get "js/about-sitemap.js" | minify | fingerprint }}
<script src="{{ $sitemapJs.RelPermalink }}" integrity="{{ $sitemapJs.Data.Integrity }}" defer></script>
{{ end }}