<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "favicon.svg" | relURL }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS" href="{{ "index.xml" | absURL }}">
  {{- block "seo" . }}{{ partial "seo.html" . }}{{ end }}
  {{- partial "schema.html" . }}
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
{{- $isBlogPost := partial "is-blog-post.html" . -}}
<body data-site-base="{{ "" | relURL }}"{{ if $isBlogPost }} class="has-print-watermark"{{ end }}>
  {{ if $isBlogPost }}{{ partial "print-watermark.html" . }}{{ end }}
  <a class="skip-link" href="#main-content">Bỏ qua đến nội dung</a>
  {{ partial "header.html" . }}
  <main id="main-content" tabindex="-1">
    {{- block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ if $isBlogPost }}{{ partial "scroll-jump.html" . }}{{ end }}
  {{ $siteJs := resources.Get "js/site.js" | minify | fingerprint }}
  <script src="{{ $siteJs.RelPermalink }}" integrity="{{ $siteJs.Data.Integrity }}" defer></script>
  {{ $searchJs := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $searchJs.RelPermalink }}" integrity="{{ $searchJs.Data.Integrity }}" defer></script>
  {{ if $isBlogPost }}
  {{ $scrollJs := resources.Get "js/scroll-jump.js" | minify | fingerprint }}
  <script src="{{ $scrollJs.RelPermalink }}" integrity="{{ $scrollJs.Data.Integrity }}" defer></script>
  {{ $printJs := resources.Get "js/print-watermark.js" | minify | fingerprint }}
  <script src="{{ $printJs.RelPermalink }}" integrity="{{ $printJs.Data.Integrity }}" defer></script>
  {{ end }}
  {{- block "scripts" . }}{{ end }}
</body>
</html>