<!DOCTYPE html>
<html lang="{{ if eq .Params.post_lang "en" }}en{{ else }}vi{{ end }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
  <link rel="apple-touch-icon" href="{{ "favicon.svg" | relURL }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS" href="{{ "index.xml" | absURL }}">
  <script>(function(){try{document.documentElement.classList.remove('dark-mode');localStorage.setItem('theme','light')}catch(e){}})()</script>
  {{- block "seo" . }}{{ partial "seo.html" . }}{{ end }}
  {{- partial "schema.html" . }}
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{- if eq .Layout "travel-planner" }}
  {{ $tpCss := resources.Get "css/travel-planner.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $tpCss.RelPermalink }}" integrity="{{ $tpCss.Data.Integrity }}">
  {{- end }}
  {{- if eq .Layout "cv-generator" }}
  {{ $cvCss := resources.Get "css/cv-generator.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $cvCss.RelPermalink }}" integrity="{{ $cvCss.Data.Integrity }}">
  {{- end }}
  {{- if eq .Type "topik" }}
  {{ $topikCss := resources.Get "css/topik.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $topikCss.RelPermalink }}" integrity="{{ $topikCss.Data.Integrity }}">
  {{- end }}
{{- $gaId := or (os.Getenv "GA_MEASUREMENT_ID") site.Params.google_analytics_id }}{{ with $gaId }}
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{- end }}
</head>
{{- $isBlogPost := partial "is-blog-post.html" . -}}
<body data-site-base="{{ "" | relURL }}"{{ if $isBlogPost }} class="has-print-watermark"{{ end }}>
  {{ if $isBlogPost }}{{ partial "print-watermark.html" . }}{{ end }}
  <a class="skip-link" href="#main-content">Bỏ qua đến nội dung</a>
  {{ partial "header.html" . }}
  <main id="main-content" tabindex="-1">
    {{ if and (not .IsHome) (not $isBlogPost) }}<div class="container sponsored-hotel-wrap">{{ partial "sponsored-hotel-banner.html" . }}</div>{{ end }}
    {{- block "main" . }}{{ end }}
  </main>
  {{ partial "footer-ad.html" . }}
  {{ partial "footer.html" . }}
  {{ if $isBlogPost }}{{ partial "scroll-jump.html" . }}{{ end }}
  {{ $siteJs := resources.Get "js/site.js" | minify | fingerprint }}
  <script src="{{ $siteJs.RelPermalink }}" integrity="{{ $siteJs.Data.Integrity }}" defer></script>
  {{ $clockJs := resources.Get "js/live-clock.js" | minify | fingerprint }}
  <script src="{{ $clockJs.RelPermalink }}" integrity="{{ $clockJs.Data.Integrity }}" defer></script>
  {{ $searchJs := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $searchJs.RelPermalink }}" integrity="{{ $searchJs.Data.Integrity }}" defer></script>
  {{ $themeJs := resources.Get "js/theme-toggle.js" | minify | fingerprint }}
  <script src="{{ $themeJs.RelPermalink }}" integrity="{{ $themeJs.Data.Integrity }}" defer></script>
  {{ if $isBlogPost }}
  {{ $scrollJs := resources.Get "js/scroll-jump.js" | minify | fingerprint }}
  <script src="{{ $scrollJs.RelPermalink }}" integrity="{{ $scrollJs.Data.Integrity }}" defer></script>
  {{ $printJs := resources.Get "js/print-watermark.js" | minify | fingerprint }}
  <script src="{{ $printJs.RelPermalink }}" integrity="{{ $printJs.Data.Integrity }}" defer></script>
  {{ end }}
  {{- block "scripts" . }}{{ end }}
</body>
</html>