{{- $authorName := .Params.author -}}
{{- $authorData := dict -}}
{{- $authorImage := .Params.avatar -}}
{{- $authorTitle := "" -}}
{{- $authorCompany := "" -}}
{{- $authorIntro := "" -}}
{{- with site.Data.authors -}}
  {{- range .authors -}}
    {{- if eq .name $authorName -}}
      {{- $authorData = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if $authorData.image -}}{{- $authorImage = $authorData.image -}}{{- end -}}
{{- if not $authorImage -}}{{- $authorImage = "images/authors/default.svg" | relURL -}}{{- end -}}
{{- if $authorData.title -}}{{- $authorTitle = $authorData.title -}}{{- end -}}
{{- if $authorData.company -}}{{- $authorCompany = $authorData.company -}}{{- end -}}
{{- if $authorData.intro -}}{{- $authorIntro = $authorData.intro -}}{{- end -}}
{{- if $authorName -}}
<div class="author-block author-block-large">
  <img src="{{ $authorImage }}" alt="" class="author-avatar-large" loading="lazy" width="44" height="44">
  <div class="author-block-info">
    <span class="author-name">{{ $authorName }}</span>
    {{- if or $authorTitle $authorCompany }}
    <span class="author-meta">{{ $authorTitle }}{{ if and $authorTitle $authorCompany }}, {{ end }}{{ $authorCompany }}</span>
    {{- end }}
    {{- if $authorIntro }}
    <p class="author-intro">{{ $authorIntro }}</p>
    {{- end }}
  </div>
</div>
{{- end -}}
