{{- $author := .author -}}
{{- $rep := index site.Data "author-reputation" -}}
{{- $authorName := $author.name -}}
{{- $authorId := $author.id -}}
{{- $allPosts := where site.RegularPages "Section" "posts" -}}
{{- $authorPosts := where $allPosts "Params.author" $authorName -}}
{{- $published := where $authorPosts "Draft" false -}}
{{- $postCount := len $published -}}

{{- $categoryCounts := dict -}}
{{- range $published -}}
  {{- range .Params.categories -}}
    {{- $key := . -}}
    {{- $current := index $categoryCounts $key | default 0 -}}
    {{- $categoryCounts = merge $categoryCounts (dict $key (add $current 1)) -}}
  {{- end -}}
{{- end -}}
{{- $categoryCount := len $categoryCounts -}}

{{- $techCount := index $categoryCounts "cong-nghe" | default 0 -}}
{{- $reviewCount := index $categoryCounts "review" | default 0 -}}

{{- $isFounding := false -}}
{{- with $rep.founding_author_ids -}}
  {{- if in . $authorId -}}
    {{- $isFounding = true -}}
  {{- end -}}
{{- end -}}

{{- $currentTier := index $rep.tiers 0 -}}
{{- range $rep.tiers -}}
  {{- if ge $postCount .min_posts -}}
    {{- $currentTier = . -}}
  {{- end -}}
{{- end -}}

{{- $nextTier := dict -}}
{{- $hasNextTier := false -}}
{{- $progressPercent := 100 -}}
{{- $postsToNext := 0 -}}
{{- range $rep.tiers -}}
  {{- if and (gt .min_posts $postCount) (not $hasNextTier) -}}
    {{- $nextTier = . -}}
    {{- $hasNextTier = true -}}
  {{- end -}}
{{- end -}}
{{- if $hasNextTier -}}
  {{- $span := sub $nextTier.min_posts $currentTier.min_posts -}}
  {{- $done := sub $postCount $currentTier.min_posts -}}
  {{- if gt $span 0 -}}
    {{- $progressPercent = div (mul $done 100) $span -}}
  {{- else -}}
    {{- $progressPercent = 0 -}}
  {{- end -}}
  {{- if gt $progressPercent 100 -}}
    {{- $progressPercent = 100 -}}
  {{- end -}}
  {{- $postsToNext = sub $nextTier.min_posts $postCount -}}
{{- end -}}

{{- $badgeStates := slice -}}
{{- range $rep.badges -}}
  {{- $unlocked := false -}}
  {{- $rule := .rule -}}
  {{- if eq $rule.type "min_posts" -}}
    {{- if ge $postCount $rule.value -}}
      {{- $unlocked = true -}}
    {{- end -}}
  {{- else if eq $rule.type "min_categories" -}}
    {{- if ge $categoryCount $rule.value -}}
      {{- $unlocked = true -}}
    {{- end -}}
  {{- else if eq $rule.type "min_category_posts" -}}
    {{- $catCount := index $categoryCounts $rule.category | default 0 -}}
    {{- if ge $catCount $rule.value -}}
      {{- $unlocked = true -}}
    {{- end -}}
  {{- else if eq $rule.type "multi_category_min" -}}
    {{- $allMet := true -}}
    {{- range $cat, $min := $rule.categories -}}
      {{- $count := index $categoryCounts $cat | default 0 -}}
      {{- if lt $count $min -}}
        {{- $allMet = false -}}
      {{- end -}}
    {{- end -}}
    {{- if $allMet -}}
      {{- $unlocked = true -}}
    {{- end -}}
  {{- else if eq $rule.type "founding" -}}
    {{- if $isFounding -}}
      {{- $unlocked = true -}}
    {{- end -}}
  {{- end -}}
  {{- $badgeStates = $badgeStates | append (dict "badge" . "unlocked" $unlocked) -}}
{{- end -}}

{{- return (dict
  "postCount" $postCount
  "categoryCount" $categoryCount
  "techCount" $techCount
  "reviewCount" $reviewCount
  "categoryCounts" $categoryCounts
  "currentTier" $currentTier
  "nextTier" $nextTier
  "hasNextTier" $hasNextTier
  "progressPercent" $progressPercent
  "postsToNext" $postsToNext
  "badgeStates" $badgeStates
  "isFounding" $isFounding
) -}}