<header class="site-header">
  <div class="header-inner container">
    <div class="site-brand">
      <a href="{{ .Site.Home.RelPermalink }}" class="brand-link">
        <img src="{{ "logo.svg" | relURL }}" alt="Veritable Content" class="site-logo logo-light">
        <img src="{{ "logo-dark.svg" | relURL }}" alt="Veritable Content" class="site-logo logo-dark">
      </a>
    </div>
    <nav class="site-nav">
      <ul class="nav-list">
        {{ $currentPage := . }}
        {{ $sections := slice (dict "name" "Trang chủ" "url" "") (dict "name" "Review" "url" "review/") (dict "name" "Công nghệ" "url" "cong-nghe/") (dict "name" "Đời sống" "url" "doi-song/") (dict "name" "Tài chính" "url" "tai-chinh/") (dict "name" "Về chúng tôi" "url" "about/") }}
        {{ range $sections }}
        <li class="nav-item">
          <a href="{{ .url | relURL }}" class="nav-link">{{ .name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
